substitutions:
  name: "clima-home"
  friendly_name: "Clima Home"
  idname: clima_home

esphome:
  name: $name
  friendly_name: $friendly_name
  name_add_mac_suffix: False

esp32:
  board: esp32-c6-devkitc-1
  partitions: common/esphome/partitions_zb.csv
  framework: 
    type: esp-idf

preferences:
  flash_write_interval: 
    seconds: 120

# Enable logging
logger:
  baud_rate: 0
  level: DEBUG

# Enable Home Assistant API
api:
  encryption:
    key: !secret api
  reboot_timeout: 0s

ota:
  - platform: esphome
    password: !secret ota

zigbee:
  id: "zb"
  router: true
  power_supply: 1
  on_join:
    then:
      - logger.log: "Joined network"

wifi:
  enable_btm: true
  enable_rrm: true
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  reboot_timeout: 3min

button:
  - platform: restart
    name: "Restart"
    id: button_restart

external_components:
  - source: github://luar123/zigbee_esphome
    components: [zigbee]
    refresh: 0s
  - source: github://SaschaKP/esphome-midea-direct
    refresh: 0s

zigbee:
  id: "zb"
  router: true
  power_supply: 1
  components: none
  on_join:
    then:
      - logger.log: "Joined network"

binary_sensor:
  - platform: gpio
    name: ZigBee Btn
    pin:
      number: 9
      mode:
        input: true
        pullup: true
      inverted: True
    id: button_1
    on_press:
      then:
        - zigbee.report: zb
    on_click:
      min_length: 10s
      max_length: 30s
      then:
        - zigbee.reset: zb

uart:
  id: uart_1
  baud_rate: 9600
  tx_pin: GPIO16
  rx_pin: GPIO17

climate:
  - platform: midea_direct
    id: $idname   # Use a unique id
    name: $friendly_name          # Use a unique name
    beeper: True
    autoconf: False
    period: 4s
    timeout: 3s                       # Optional
    num_attempts: 1              # Optional
    visual:                              # Optional
      min_temperature: 17 °C    # min: 17
      max_temperature: 30 °C    # max: 30
      temperature_step: 1 °C  # min: 0.5
    supported_modes:            # Optional. All capabilities in this section may be detected by autoconf.
      - HEAT_COOL
      - COOL
      - HEAT
      - DRY
      - FAN_ONLY
    custom_fan_modes:
      - SILENT
      - TURBO
    supported_presets:          # Optional. All capabilities in this section may be detected by autoconf.
      - BOOST
      - SLEEP
    custom_presets:             # Optional. All capabilities in this section may be detected by autoconf.
      - FREEZE_PROTECTION
    supported_swing_modes: # All capabilities in this section detected by autoconf.
      - VERTICAL
